workflows/fluxo2-atendimento-telegram.json.json
{
  "name": "Cross-Code 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Se apresente sempre como o assistente virtual,\nVocê é o WODBot, assistente virtual do box Cross Code.\n\n1. Sempre responda em português.\n2. Responda APENAS dúvidas relacionadas ao Cross Code\n-Se o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\n-Use a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\n-Se não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais do Cross Code\nUse a base de conhecimento para dúvidas gerais.\nResponda em texto simples.\nNão utilize JSON.\nNão escape caracteres de quebra de linha.\nUse quebras de linha reais entre os parágrafos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        0
      ],
      "id": "f0946406-7ff1-4cee-93b8-22a7e825ebeb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        368,
        224
      ],
      "id": "7aa60bef-9998-4d79-9cab-edb9b6438a5f",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "CmKSLVb29iED7Jr4",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        496,
        224
      ],
      "id": "2a5e2b13-865a-4852-aac7-10d513c32d8c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre Cross Code, dias de aulas, funcionamento, feriado, aula experimental, como agendar uma aula experimental da empresa Cross Code",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        624,
        224
      ],
      "id": "66b107f2-49d1-4a46-adb4-d0c780bdad5f",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        704,
        432
      ],
      "id": "418e3913-7c21-4d12-b073-7c584f54f317",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "CmKSLVb29iED7Jr4",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "alunos",
          "mode": "list",
          "cachedResultName": "alunos"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `sempre uso o formato %nome% (com % no inicio e no fim) para busca parcial\nexemplo: \n%Joao Silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        912,
        224
      ],
      "id": "c88bb3f6-57ad-4144-80ae-402b66e148d6",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "m7InbWuVq3sS4rla",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        0
      ],
      "id": "2bc16603-7134-446d-879d-503f47d5ac45",
      "name": "Telegram Trigger",
      "webhookId": "c1cc36da-412e-487f-b6b9-f6e84d3f05ed",
      "credentials": {
        "telegramApi": {
          "id": "sqftfnTr3O9I7YEj",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "id": "0425ac65-207a-43c2-8d86-1f4779a53ae9",
      "name": "Send a text message",
      "webhookId": "232ddc7a-6237-475c-bbed-574d76bdb900",
      "credentials": {
        "telegramApi": {
          "id": "sqftfnTr3O9I7YEj",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "19fda2fa-f7ec-42da-ac43-3c9f4e924cb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "135f9fb7599d1e49664f5fe2c5dcb5e8cee2a9810fcbc6bd5b194f04f9274331"
  },
  "nodeGroups": [],
  "id": "eQqTqBwztez07pfz",
  "tags": []
}